*{
    margin: 0;
    padding: 0;
    border: 0;
}
body{
    font-size: 16px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
header{
    padding: 20px;
    
    color: white;
    text-align: center;
}
footer{
    padding: 20px;
    
    color: white;
    text-align: center;
}
.container{
    display: grid;
    grid-template-rows: auto 1fr auto;
    overflow: hidden;
    min-height: 100vh;

}
.main{
    width: 500px;
    margin: 20px auto;
}

p{
    margin: 10px;
    justify-self: end;
    color: white;
}
.img{
    display: block;
    width: 100%;
    overflow: hidden;
    min-height: auto;
}

